// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px/ 16
$bp-large: 62.5em; // 1000px / 16
$bp-medium: 50em; // 800px / 16
$bp-small: 37.5em; // 600px / 16

// INITIALIZATIONS
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; // from Htlm
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16 = 62.5%(default) -> 1rem = 10px

    @media only screen and (max-width: $bp-largest) { // desktop-first approach(in mobile-first use min-width)
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300; // Included in index.html
    line-height: 1.6;
}

// GRID
.container {
    display: grid;
    // We define 6 rows and 9(plus 2 to center content) columns with Responsive Design(using minmax() function and vh)
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    // Min to include content Max 14 rem
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start]
        repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; // To center insert 1 col at begin and 1 to end

    @media only screen and (max-width: $bp-large) { // desktop-first approach(in mobile-first use min-width)
        // Remove one column and Add new row
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
        // Min to include content Max 14 rem
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start]
        repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; // To center insert 1 col at begin and 1 to end
    }

    @media only screen and (max-width: $bp-medium) { // desktop-first approach(in mobile-first use min-width)
      // Remove columns and Add new row(subtract the height of the sidebar(6rem))
      grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content;
    }
}