.features {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    // Check if browser support Grid
    @supports (display: grid) {
        // Definition of second Grid
        display: grid; // grid item is a grid
        // grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); // responsive layout
        grid-gap: 6rem;
        align-items: start; // To fix cells with 3 lines
    }
}

.feature { // It is a component that is reusable so we can also use a separate file
    // Browser don't support Grid
    float: left;
    width: 33.333%;
    margin-bottom: 6rem;

    // Check if browser support Grid
    @supports (display: grid) {
        // For Flex Box and Css Grid, we don't have to repeat these values: float, vertical-align, display: inline-block - table-cell
        width: auto;
        margin-bottom: 0;
    }

    display: grid; // Another grid into grid
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        fill: $color-primary; // We use fill for Svg images
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2; // It's not possible to use -1 because we don't use explicit grid
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }
}