.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6; // such we have 8 column, we need to use number
    background-image: linear-gradient(rgba($color-secondary,.93), rgba($color-secondary,.93)), url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    padding: 4rem 8rem 8rem;

    display: grid;
    // Set 1fr: this occupy the entire space(80% of the viewport)
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr; // for responsive design
    grid-template-columns: minmax(min-content, max-content); // for responsive design
    grid-row-gap: 1.5rem;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) { // desktop-first approach(in mobile-first use min-width)
        grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-small) { // desktop-first approach(in mobile-first use min-width)
        padding: 5rem;
    }

    &__logo {
        height: 3rem;
        justify-self: center;
    }

    &__btn {
        align-self: start;
        justify-self: start;
    }

    &__seenon-text {
        display: grid; // also one element can be treated as grid
        grid-template-columns: 1fr max-content 1fr; // default behaviour the grid is in rows not in columns
        grid-column-gap: 1.5rem;
        align-items: center;

        font-size: 1.6rem;
        color: $color-grey-light-2;

        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor; // instead of repeat $color-grey-light-2
        }
    }

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        justify-items: center;
        align-items: center;

        img {
            max-height: 2.5rem;
            max-width: 100%;
            filter: brightness(70%); // to make image darker
        }
    }
}

