.homes {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); // we adapt column as grid container
    grid-gap: 7rem;
}

.home {
    background-color: $color-grey-light-1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem; // this is for all grid not for individual col ath the moment

    &__img {
      width: 100%;
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      z-index: 1;
    }

    &__like {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      fill: $color-primary;
      height: 2.5rem;
      width: 2.5rem;
      z-index: 2; // put the item in front of the image
      justify-self: end; // put the item on the right
      margin: 1rem;
    }

    &__name {
      grid-row: 1 / 2; // create an empty row to put element in the image
      grid-column: 1 / -1;
      align-self: end;
      justify-self: center;

      z-index: 3;
      width: 80%;
      font-family: $font-display;
      font-size: 1.6rem;
      text-align: center;
      padding: 1.25rem;
      background-color: $color-secondary;
      color: #ffffff;
      font-weight: 400;
      transform: translateY(50%); // the 50% of the height of the element
    }

    &__location,
    &__rooms {
      margin-top: 2.5rem; // to reduce the space added by grid-row-gap
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
      font-size: 1.5rem;
      margin-left: 2rem;

      display: flex;
      align-items: center;

      svg {
        fill: $color-primary;
        height: 2rem;
        width: 2rem;
        margin-right: 1rem; // there is no row-gap in Flex Box so we use margin instead
      }
    }

    &__btn {
      grid-column: 1 / -1;
    }
}