.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;

    display: grid;
    align-items: center;
    justify-items: center; // affect only the h3 tag
    justify-content: center;
    grid-row-gap: 2rem;

    @media only screen and (max-width: $bp-medium) { // desktop-first approach(in mobile-first use min-width)
        // Add new column
        grid-column: 1 / -1;
    }

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh; // responsive design
        align-items: center;

        @media only screen and (max-width: $bp-medium) { // desktop-first approach(in mobile-first use min-width)
            // The new column contain: image and text for 3 times(realtors)
            grid-template-columns: repeat(3,min-content max-content);
        }

        @media only screen and (max-width: $bp-small) { // desktop-first approach(in mobile-first use min-width)
            // Return to the begin
            grid-template-columns: min-content max-content;
        }
    }

    &__img {
        width: 7rem;
        border-radius: 50%;
        display: block;
    }

    &__sold {
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -3px;
    }
}